# Ignore node_modules directory
node_modules/

# Ignore built output
dist/

# Ignore TypeScript compiler artifacts
*.js
*.js.map

# Ignore editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore environment-specific files
.env
.env.local
.env.*.local
.env.test
.env.test.local
.env.prod
.env.prod.local